.dashboard {
  font-family: "Poppins";
  height: 100%;
  min-height: 100vh;
  padding-bottom: 1em;
  background: linear-gradient(50deg, #fff, #ffedad);

  nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 80rem;
    margin: auto;
    padding: 1em 0;

    img {
      height: 45px;
    }

    .right-nav {
      display: flex;
      gap: 1em;
      width: 50%;

      input {
        font-size: 1rem;
        padding: 0.5em 1em;
        width: 75%;
        border: 2px solid #000;
        border-radius: 0.25em;
      }

      a {
        width: 25%;
      }

      button {
        background: #ef4444;
        display: flex;
        width: 100%;
        align-items: center;
        font-size: 0.8rem;
        font-weight: 600;
        padding: 0.5em 1em;
        font-family: "Poppins";
        gap: 0.5em;
        cursor: pointer;
        border: 2px solid #000;
        border-radius: 5px;
        position: relative;

        img {
          width: 15px;
          height: auto;
        }
      }
    }
  }

  .grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1em;
    max-width: 80rem;
    margin: auto;
    height: fit-content;
  }

  .card {
    border: 3px solid #000;
    border-radius: 1em;
    padding: 1em;
    background: #fff;

    .date {
      background: #000;
      color: #fff;
      width: fit-content;
      padding: 0.5em 1em;
      font-weight: 400;
      border-radius: 5px;
      font-size: 0.8rem;
    }

    h1 {
      font-size: 1.5rem;
    }

    p {
      display: -webkit-box;
      -webkit-line-clamp: 3; /* Number of lines to display */
      -webkit-box-orient: vertical;
      overflow: hidden;
      text-overflow: ellipsis;
      max-height: 4.5em; /* 3 lines x 1.5 line-height = 4.5em */
      line-height: 1.5em;
    }

    .btns {
      display: flex;
      gap: 0.5em;
      margin-top: 0.5em;
      button {
        background: #000;
        border: none;
        padding: 0.5em;
        color: #fff;
        font-weight: 400;
        border-radius: 5px;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
      }

      .createEvent {
        width: 75%;
        font-size: .9rem;
      }

      .settings,
      .delete {
        width: calc(25% / 2);
        background: transparent;
        border: 3px solid #000;
        color: #000;
      }
    }
  }
}

@media screen and (max-width: 1300px) {
  nav, .grid {
    padding: 1em 2em !important;
  }

  .grid {
    grid-template-columns: 1fr 1fr !important;
    .card p {
      -webkit-line-clamp: 4 !important;
    }
  }
}


@media screen and (max-width: 1000px) {
 
  .grid {
    .card p {
      -webkit-line-clamp: 3 !important;
font-size: .9rem;
    }
  }
}


@media screen and (max-width: 750px) {
 
  .grid {
    grid-template-columns: 1fr !important;
  }
}

